<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="assets/app.css"/>
</head>

<body ng-app="starterApp" layout="row">

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar>
        <div class="md-toolbar-tools" ng-controller="UserController as ul">
            <h2><span>Menu</span></h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close" ng-click="ul.toggleLeft()" hide-gt-md>
                <md-icon md-svg-icon="close"></md-icon>
                <div class="md-ripple-container"></div>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list class="main-menu md-default-theme" role="list">
            <md-list-item role="listitem">
                <a class="md-button md-default-theme md-button-block" href="/" qr-route-link>
                    <span>Add People/Print Cards</span>
                    <div class="md-ripple-container"></div>
                </a>
            </md-list-item>
            <md-list-item role="listitem">
                <a class="md-button md-default-theme md-button-block" href="/checkin" qr-route-link>
                    <span>Check in</span>
                    <div class="md-ripple-container"></div>
                </a>
            </md-list-item>
        </md-list>

        <p hide-md show-gt-md>
            The process information or help...
        </p>

    </md-content>
</md-sidenav>

<md-content flex ng-controller="CenterController as center">
    <md-toolbar md-scroll-shrink="" class="md-hue-2 md-default-theme" layout="column"
                style="transform: translate3d(0px, 0px, 0px);">
        <div class="md-toolbar-tools">
            <button class="md-icon-button md-button md-default-theme" ng-click="center.openLeftMenu()" hide-gt-md=""
                    aria-label="Menu" tabindex="0">
                <md-icon md-svg-icon="menu" class="ng-isolate-scope md-default-theme" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%"
                         preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                         style="pointer-events: none; display: block;">
                        <g id="menu">
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                        </g>
                    </svg>
                </md-icon>
                <div class="md-ripple-container"></div>
            </button>
            <qr-toolbar layout="row">
                <h1 ng-hide="pageTitle">VIP Card Generator</h1>
                <h1 ng-show="pageTitle" aria-hidden="true"></h1>
            </qr-toolbar>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Save & New Person" ng-disabled="userForm.$invalid" ng-click="center.addNewPerson($event, center.newUser)" >
                <md-tooltip>
                    Save & Add New
                </md-tooltip>
                <md-icon md-font-set="material-icons" style="color: #ffca28;"> person_add </md-icon>
            </md-button>
        </div>
        <md-progress-linear md-mode="indeterminate" class="app-toolbar-loading md-default-theme ng-hide"
                            ng-show="toolbarSpinner.isShown()" aria-valuemin="0" aria-valuemax="100" role="progressbar"
                            aria-hidden="true">
            <div class="md-container md-ready">
                <div class="md-dashed"></div>
                <div class="md-bar md-bar1"></div>
                <div class="md-bar md-bar2"></div>
            </div>
        </md-progress-linear>
    </md-toolbar>
    <!-- contenido y formulario -->
    <md-content layout-padding>
        <form name="userForm">
            <md-input-container class="md-default-theme">
                <label for="input_id">VIP ID</label>
                <input type="text" name="id" ng-model="center.newUser.id" data-qr-focus="true" class="md-input ng-touched"
                       id="input_id" tabindex="1" aria-invalid="false" ng-required="true">
                <div ng-messages="userForm.id.$error">
                    <div ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <div layout layout-sm="column" class="md-default-theme">
                <md-input-container flex>
                    <label for="input_00A">First Name</label>
                    <input type="text" name="firstname" ng-model="center.newUser.firstname" class="md-input ng-touched" id="input_00A"
                           tabindex="2" aria-invalid="false" ng-required="true">
                    <div ng-messages="userForm.firstname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="input_00B">Last Name</label>
                    <input type="text" name="lastname" ng-model="center.newUser.lastname" class="md-input ng-touched" id="input_00B"
                           tabindex="3" aria-invalid="false" ng-required="true">
                    <div ng-messages="userForm.lastname.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout layout-sm="column" class="md-default-theme">
                <md-input-container flex>
                    <label for="input_00C">Organization</label>
                    <input type="text" name="organization"  ng-model="center.newUser.organization" class="md-input ng-touched" id="input_00C"
                           tabindex="4" aria-invalid="false" ng-required="true">
                    <div ng-messages="userForm.organization.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container flex>
                    <label for="input_00J">City</label>
                    <input type="text" name="city" ng-model="center.newUser.city" class="ng-untouched md-input" id="input_00J" tabindex="5"
                           aria-invalid="false" ng-required="true">
                    <div ng-messages="userForm.city.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
            </div>

            <div layout layout-sm="column" class="md-default-theme">
                <md-input-container flex>
                    <label for="input_00D">Email</label>
                    <input type="email" name="email" ng-model="center.newUser.email" class="md-input ng-touched" id="input_00D" tabindex="6"
                           aria-invalid="false">
                </md-input-container>
                <md-input-container flex>
                    <label for="input_00E">Phone</label>
                    <input type="tel" name="phone" ng-model="center.newUser.phone" class="md-input ng-touched" id="input_00E" tabindex="7"
                           aria-invalid="false">
                </md-input-container>
            </div>
        </form>
        <p class="mar-top-50"></p>
    </md-content>
    <div flex>
        <div class="qr-generate-result md-whiteframe-z1" flex="" layout="column">
            <md-toolbar md-scroll-shrink="" class="md-hue-2 md-default-theme" layout="column"
                        style="transform: translate3d(0px, 0px, 0px);">
                <div class="md-toolbar-tools">
                    <qr-toolbar layout="row">
                        <h2 ng-hide="pageTitle">Card Result</h2>
                    </qr-toolbar>
                    <span flex></span>
                    <md-button class="md-icon-button" aria-label="Save & New Person" ng-disabled="userForm.$invalid" ng-click="center.addNewPerson($event, center.newUser)">
                        <md-tooltip>
                            Save & Add New
                        </md-tooltip>
                        <md-icon md-font-set="material-icons" style="color: #ffca28;"> person_add </md-icon>
                    </md-button>
                    <md-button class="md-icon-button" aria-label="Print Card" ng-print print-element-id="printSection" ng-disabled="userForm.$invalid">
                        <md-tooltip>
                            Print Card
                        </md-tooltip>
                        <md-icon md-font-set="material-icons" style="color: white;"> print </md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <div layout="column" layout-padding="">
                <div>
                    <div class="row">
                        <div class="col s12" id="printSection">
                            <div class="card">
                                <div class="card-image">
                                    <div layout-align="center center" layout="row" layout-margin="">
                                        <qr text="center.newUser.id" type-number="4" size="150" image="true"></qr>
                                    </div>
                                    <div class="card-title">
                                        <h3>{{center.newUser.id}}</h3>
                                    </div>
                                </div>
                                <div class="card-content" style="margin:0; padding: 0;">
                                    <div class="row">
                                        <label>Full Name</label>
                                        <h2>{{center.newUser.firstname}} {{center.newUser.lastname}}</h2>
                                    </div>
                                    <div class="row">
                                        <label>Organization</label>
                                        <h3>{{center.newUser.organization}}</h3>
                                    </div>
                                    <div class="row">
                                        <label>City</label>
                                        <h3>{{center.newUser.city}}</h3>
                                    </div>
                                </div>
                                <div class="card-action" style="clear: both">
                                    <p><small>Valid Card only on</small> Sep 13, 2015</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</md-content>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="./bower_components/angular/angular.js"></script>

<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
<script type="text/javascript" src="./bower_components/angular-messages/angular-messages.js"></script>


<script type="text/javascript" src="./bower_components/qrcode/lib/qrcode.min.js"></script>
<script type="text/javascript" src="./bower_components/angular-qr/angular-qr.min.js"></script>

<script src="./src/users/Users.js"></script>
<script src="./src/users/UserController.js"></script>
<script src="./src/users/UserService.js"></script>

<script src="./src/centerpanel/CenterController.js"></script>

<script type="text/javascript">

    angular
            .module('starterApp', ['ngMaterial', 'users'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .defaultFontSet('fontawesome')
                        .defaultIconSet("./assets/svg/avatars.svg", 128)
                        .icon("menu", "./assets/svg/menu.svg", 24)
                        .icon("close", "./assets/svg/close.svg", 24)
                        .icon("share", "./assets/svg/share.svg", 24)
                        .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                        .icon("twitter", "./assets/svg/twitter.svg", 512)
                        .icon("phone", "./assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('purple')
                        .accentPalette('orange');

            });

</script>

</body>
</html>
