<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="../assets/app.css"/>
</head>

<body ng-app="reviewApp" layout="row" ng-controller="CheckinController as ul">

<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2><span>Menu</span></h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Close" ng-click="ul.toggleLeft()" hide-gt-md>
                <md-icon md-svg-icon="close"></md-icon>
                <div class="md-ripple-container"></div>
            </md-button>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <md-list class="main-menu md-default-theme" role="list">
            <md-list-item role="listitem">
                <a class="md-button md-default-theme md-button-block" href="/" qr-route-link>
                    <span>Add People/Print Cards</span>
                    <div class="md-ripple-container"></div>
                </a>
            </md-list-item>
            <md-list-item role="listitem">
                <a class="md-button md-default-theme md-button-block" href="/checkin" qr-route-link>
                    <span>Check in</span>
                    <div class="md-ripple-container"></div>
                </a>
            </md-list-item>
        </md-list>

        <p hide-md show-gt-md>
            The process information or help...
        </p>

    </md-content>
</md-sidenav>

<md-content flex>
    <md-toolbar md-scroll-shrink="" class="md-hue-2 md-default-theme" layout="column"
                style="transform: translate3d(0px, 0px, 0px);">
        <div class="md-toolbar-tools">
            <button class="md-icon-button md-button md-default-theme" ng-click="ul.openLeftMenu()" hide-gt-md=""
                    aria-label="Menu" tabindex="0">
                <md-icon md-svg-icon="menu" class="ng-isolate-scope md-default-theme" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" fit="" height="100%" width="100%"
                         preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"
                         style="pointer-events: none; display: block;">
                        <g id="menu">
                            <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
                        </g>
                    </svg>
                </md-icon>
                <div class="md-ripple-container"></div>
            </button>
            <qr-toolbar layout="row">
                <h1 ng-hide="pageTitle">VIP Checking User List</h1>
                <h1 ng-show="pageTitle" aria-hidden="true"></h1>
            </qr-toolbar>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Scan the QR Code" ng-click="ul.cameraReader = !ul.cameraReader">
                <md-tooltip>
                    Scan the QR Code
                </md-tooltip>
                <md-icon md-font-set="material-icons" style="color: #ffca28;"> {{ul.cameraReader ? 'videocam' : 'videocam_off'}} </md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <!-- contenido y formulario -->
    <md-content layout-padding>
        <div flex ng-show="ul.cameraReader">
            <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
                <qr-scanner width="400" height="300" ng-success="ul.onSuccess(data)" ng-error="ul.onError(error)" />
            </md-content>
        </div>

        <div flex>
            <h3>Find the person you need</h3>
            <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
                <md-input-container>
                    <label>VIP Number</label>
                    <input ng-model="ul.userid">
                </md-input-container>
                <md-input-container>
                    <label>First Name</label>
                    <input ng-model="ul.firstname">
                </md-input-container>
                <md-input-container>
                    <label>Last Name</label>
                    <input ng-model="ul.lastname">
                </md-input-container>
            </md-content>
            <md-list>
                <md-list-item ng-repeat="user in ul.users | filter:{id: ul.userid, firstname: ul.firstname, lastname: ul.lastname}">
                    <md-checkbox ng-model="user.present" ng-disabled="user.present" ng-click="ul.checkinUser($event, user)"></md-checkbox>
                    <div class="md-list-item-text">
                        <h3>{{ user.id }} </h3>
                        <p>{{ user.firstname }} {{ user.lastname }} <small ng-show="user.present"> / checked at {{ user.stamp }} </small></p>
                    </div>
                    <md-icon class="md-secondary" ng-click="ul.showUserInfo($event, user)" aria-label="Chat" md-font-set="material-icons"> account_box </md-icon>
                    <md-divider></md-divider>
                </md-list-item>

            </md-list>
        </div>
    </md-content>
</md-content>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="../bower_components/angular/angular.js"></script>

<script src="../bower_components/angular-animate/angular-animate.js"></script>
<script src="../bower_components/angular-aria/angular-aria.js"></script>
<script src="../bower_components/angular-material/angular-material.js"></script>
<script src="../bower_components/angular-qr-scanner/qr-scanner.js"></script>
<script src="../bower_components/angular-qr-scanner/src/jsqrcode-combined.min.js"></script>

<script src="../src/checkin/Checkin.js"></script>
<script src="../src/checkin/CheckinController.js"></script>
<script src="../src/checkin/CheckinService.js"></script>

<script type="text/javascript">

    angular
            .module('reviewApp', ['ngMaterial', 'checkin'])
            .config(function ($mdThemingProvider, $mdIconProvider) {

                $mdIconProvider
                        .defaultIconSet("../assets/svg/avatars.svg", 128)
                        .icon("menu", "../assets/svg/menu.svg", 24)
                        .icon("close", "../assets/svg/close.svg", 24)
                        .icon("share", "../assets/svg/share.svg", 24)
                        .icon("google_plus", "../assets/svg/google_plus.svg", 512)
                        .icon("hangouts", "../assets/svg/hangouts.svg", 512)
                        .icon("twitter", "../assets/svg/twitter.svg", 512)
                        .icon("phone", "../assets/svg/phone.svg", 512);

                $mdThemingProvider.theme('default')
                        .primaryPalette('purple')
                        .accentPalette('orange');

                $mdThemingProvider.theme('docs-dark')
                        .primaryPalette('orange')
                        .backgroundPalette('grey', {
                            'default': '100'
                        })
                        .accentPalette('red');

            });

</script>

</body>
</html>
