.qrcode {
    display: block;
    margin: 24px auto 16px;
    max-width: 100%;
}

.qrcode-link {
    display: table;
    margin: 24px auto 16px;
}

.qrcode-link .qrcode {
    margin: 0;
}

.mar-top-50 {
    margin-top: 50px;
}

.md-list-item-text h3 {
    margin: 5px 0;
}

@media screen {
    html, body {
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        height: 100%;
        margin: 0px;
        padding: 0px;
    }

    /* Toolbar area */
    .menu {
        background-color: transparent;
        border: none;
        height: 38px;
        margin: 16px;
        width: 36px;
    }

    .main-menu .md-button {
        border-radius: 0;
        color: inherit;
        cursor: pointer;
        display: block;
        line-height: 40px;
        margin: 0;
        max-height: 40px;
        overflow: hidden;
        text-align: left;
        text-decoration: none;
        white-space: normal;
        width: 100%;
        text-transform: none;
        padding: 0 16px 0 32px;
    }
}

@media print {
    body * {
        visibility: hidden;
    }

    #printSection, #printSection * {
        visibility: visible;
        width: 3in;
    }

    #printSection {
        position: absolute;
        left: 0;
        top: 0;
        min-height: 3in;
    }

    .card-image {
        display: block;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .card-image img {
        width: 0.5in;
        height: auto;
    }

    .card-title {
        text-align: center;
        border-bottom: 1px solid #6A1B9A;
    }

    .card-title h3 {
        margin: 0 0 5px 0;
        padding: 0 0 5px 0;
    }

    .card-content .row {
        margin: 10px 0;
        padding: 0;
    }

    .card-content label {
        font-size: 0.8em;
        /*color: #c9302c;*/
        color: #6A1B9A;
        margin: 2px 0;
        padding: 0;
    }

    .card-content h2 {
        color: #1b1b1b;
        font-size: 1.4em;
        margin: 0;
        padding: 0;
    }

    .card-content h3 {
        color: #1b1b1b;
        font-size: 1.2em;
        margin: 0;
        padding: 0;
    }
}
